.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 70px;
  background-color: var(--colour-light-grey);
}

.body {
  flex-grow: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 16px;
}

.title {
  width: 200px;
  height: 48px;
  margin: 16px;
  border-radius: 8px;
  background-color: var(--colour-light-grey);
}

.actionBar {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 80px;
  background-color: var(--colour-light-grey);
}
