.deck {
  width: 300px;
  padding: 30px;
  color: var(--colour-dark-grey);
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  --colour-primary: #ff6744;
  --colour-primary-light: #ff856a;
  --colour-primary-dark: #9b2308;
  --colour-secondary: #3466ff;
  --colour-error: #d0021b;
  --colour-white: #fff;
  --colour-grey: #9b9b9b;
  --colour-light-grey: #f5f5f5;
  --colour-dark-grey: #4a4a4a;
  --colour-black-grey: #333;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

.deck *,
.deck *:before,
.deck *:after {
  box-sizing: border-box;
}
