.app {
  position: fixed;
  right: 4px;
  top: 4px;
  width: 300px;
  padding: 40px 32px;
  border-radius: 8px;
  background-color: var(--colour-white);
  box-shadow: 0 2px 12px 0 rgba(155, 35, 8, 0.3);
  z-index: 10000;
}

.title {
  margin-bottom: 32px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}
