.actions {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: var(--colour-white);
  box-shadow: 0 -2px 4px 0 rgba(155, 35, 8, 0.05);
}

.actionsInner {
  composes: containerRegular from '../../util/layout.css';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
