.body {
  composes: containerSmall from '../../util/layout.css';
  padding-top: 64px;
  padding-bottom: 48px;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
  color: var(--colour-black-grey);
  font-family: 'Circular Std', sans-serif;
  font-size: 38px;
  font-weight: var(--font-weight-medium);
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 244px);
  grid-gap: 54.333333333px;
}

.backButtonContainer {
  margin-right: 8px;
  margin-left: 4px;
}

.backButton {
  display: block;
  width: 16px;
  height: 16px;
  border-top: 3px solid var(--colour-black-grey);
  border-left: 3px solid var(--colour-black-grey);
  transform: rotate(-45deg);
}
