.container {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: var(--colour-white);
  box-shadow: 0 -2px 4px 0 rgba(155, 35, 8, 0.05);
}

.inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 32px;
  padding-left: 32px;
}

.button {
  cursor: pointer;
  outline: none;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  transition: color 150ms linear;
}

.button:focus,
.button:hover {
  color: var(--colour-primary);
}

.button:disabled {
  cursor: default;
  color: var(--colour-light-grey);
}

.addButton {
  margin-right: 16px;
}

.add {
  position: relative;
}

.popup {
  position: absolute;
  bottom: calc(100% + 16px);
  left: 0;
	width: 300px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--colour-white);
  box-shadow: 0 2px 4px 0 rgba(155, 35, 8, 0.3);
}
