*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Targeting html, body and the entry point */
html,
body,
body > div {
  height: 100%;
}

html {
  color: var(--colour-dark-grey);
  font-family: 'Circular Std', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
